body {
  background-image: url("../img/back.png");
  background-size: cover, cover;
  background-attachment: fixed;
  text-align:center;
  font-family: 'Chewy', cursive;
  color: #eea5b0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#logo{
  width:5%;
}

iframe {
  padding-top: 5%;
  width:50%;
}

#content{
  width:75%;
  background-color:#555555;
  border: none;
  color: #eea5b0;
  height: 20%;
  resize: none;
  border-style: solid;
  border-width: 3%;
  border-radius: 5px;
  font-size: 120%;
  font-family: 'Chewy', cursive;
}

#nickname{
  background-color:#555555;
  border: none;
  color: #eea5b0;
  height: 20%;
  resize: none;
  border-style: solid;
  border-width: 3%;
  border-radius: 5px;
  font-size: 120%;
  font-family: 'Chewy', cursive;
}

#submit {
  background-color:#555555;
  border: none;
  color: #eea5b0;
  height: 20%;
  resize: none;
  border-style: solid;
  border-width: 3%;
  border-radius: 5px;
  font-size: 120%;
  font-family: 'Chewy', cursive;
}
